%flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
%pseudo-element {
  content: "";
  position: absolute;
}
%title {
  font: bold 18px $font-robotoCondenced;
  letter-spacing: 1px;
  text-transform: uppercase;
}
%hover-text {
  &:hover {
    color: $color-yellow;
  }
}
