//full screen img
.lightbox .lb-image {
  width: auto !important;
}
.lb-outerContainer {
  width: min-content;
}
.lb-data .lb-details {
  display: none;
}
.none {
  display: none !important;
}
