//font
$font-roboto: "Roboto", sans-serif;
$font-openSans: "Open Sans", sans-serif;
$font-robotoCondenced: "Roboto Condensed", sans-serif;

//Main color
$color-gray: #362f2f;
$color-yellow: #c3a000;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff0000;
$color-userComment: #333333;
$color-backgroundPost: #e6e6e6;
